<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>165176037035-jbh0kcaldg7kjsn5vskg7i9cbpe702os.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.165176037035-jbh0kcaldg7kjsn5vskg7i9cbpe702os</string>
	<key>API_KEY</key>
	<string>AIzaSyBpbyD3ICY32qaSGS0yssJb_GWT13l4Gws</string>
	<key>GCM_SENDER_ID</key>
	<string>165176037035</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>spiralus.StockRank</string>
	<key>PROJECT_ID</key>
	<string>stockrank</string>
	<key>STORAGE_BUCKET</key>
	<string>stockrank.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:165176037035:ios:641a3af0d74bfaa96731ee</string>
	<key>DATABASE_URL</key>
	<string>https://stockrank.firebaseio.com</string>
</dict>
</plist>